*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    width: 700px;
    height: 700px;
    background-color: lightcoral;
    display: grid;
    grid-template-rows: 150px 150px 150px 150px 150px ;
    grid-template-columns: auto auto auto auto ;
}

.item{
    /* width: 200px;
    height: 100px; */
    text-align: center;
    background-color: yellowgreen; 
    border: 2px solid black ;         
}