/* h1{
    color: blue;
    background-color: rgb(222, 115, 115);
    width: 250px;
} */


/* Practice Question set 1 */
h2{     
    color: orange;
}

p{
    color: white;
    background-color: blue;
}

button{
    background-color: black;
    color: white;
}