*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    border: 3px dashed rgb(38, 244, 58);
}
div{
    height: 150px;
    width: 500px;
    border: 5px solid black;
    background-color: #d6a1a1;
    border-radius: 12px;
    box-shadow: 3px 8px 10px rgb(46, 42, 42);
    padding: 10px;
    margin: 20px;
}

button{
    margin: 30px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    background-color: rgb(63, 63, 199);
    color: white;
    
}