#main-div{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}

.signal{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
}

#red{   
    background-color: red;
}

#yel{
    background-color: yellow;
}

#green{
    background-color: green;
}