*{
    margin: 0;
    padding: 0;
     font-family: "Open Sans", sans-serif;
}

.main_box{
    background: url(./photo.jpg);
    height: 100vh;
    background-size: cover;
}

.main_box .btn_one{
    color: white;
    position: fixed;
    font-size: 30px;
    font-weight: bold;
    left: 16px;
    line-height: 60px;   
    cursor: pointer;
}

.sidebar_menu .btn_two i{
    color: gray;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    /* opacity: 0; */
    cursor: pointer;
}

.sidebar_menu{
    position: fixed;
    left: -300px ;
    height: 100vh;
    width: 300px;
    background-color: #ffffff1a;
    box-shadow: 0 0 6px rgba(255, 255, 255, .5);
    transition: 0.3s linear;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255, 255, 255, .5);
    height: 60px;
}

.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.sidebar_menu .menu{
    color: white;
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 15px 20px;
}

.sidebar_menu .menu a,i{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar_menu .menu i{
    padding-right: 8px ;
}

.sidebar_menu .social_media{
   
    position:absolute;
    left: 25%;
    bottom: 50px;
}

.sidebar_menu .social_media i{
    color: white ;
    opacity: 0.5;
    padding: 0 4px;
}

#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, .5);
}

.btn_one i:hover{
    font-size: 30px;
    transition: 0.3s linear;

}

.btn_two i:hover{
    font-size: 30px;
    transition: 0.3s linear;
}

.social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
    color: orange;
}

#check:checked ~ .sidebar_menu{
    left: 0;
}

#check:checked ~ .btn_one{
    opacity: 0;
}