h1{
    text-align: center;
    color: red;
    font-family: Georgia;
}

h3{
    color: black;
    text-align: center;
}

h4 a{
    text-decoration: none;
    color: rgb(0, 255, 0);
}

p{
    color: #964B00;
    line-height: 30px;
    text-align: center;
}

span{
    text-decoration: underline;
}

textarea{
    color: #000;
}

button{
    background-color: #fff;
    color: blueviolet;
}