*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    display: inline-block;
    height: 100px;
    width:100px;
    margin: 10px;
    border: 1px solid black;
    background-color: #ef1111ef;
    transition: .8s ease-in-out ;
    /* opacity:.4; */
}

div:hover{
    background-color: #6fff00;
    border-radius: 30%;

}