#main{
    height: 500px;
    width: 800px;
    margin: 0 auto;
    background-color: #bd8787;
    background-image: url(./pexels-bg-image.jpg);
    background-size: contain;
    opacity: .9;
}

#main h1{
    text-align: center;
}
#main p{
    padding: 20px;
    color: rgb(255, 128, 0);
}


.card{
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 10px;
    background-color: #f4e3a5;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 4px 3px 7px black;
    transition: .4s;
    
}

.card:hover{
    box-shadow:5px 4px 15px black ;
    transform: scale(1.07);
}

.card img{
    height: 60%;
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.disc{
    padding:0  10px 0 10px;
}
