div{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: senter;
    border: 2px solid black;
    margin: 20px;
}

.static{
    background-color: yellow;
    position: static;
    top: 100px;
    left: 100px;
}

.relative{
    background-color: yellow;
    position: relative;
    top: 50px;
    left: 30px;
}

.absolute{
    background-color: yellow;
    position: absolute;
    top: 600px;
    left: 500px;
}

.fixed{
    background-color: yellow;
    position: fixed;
    top: 50px;
    left: 300px;
}

#main{
    background-color: yellow;
    border-radius: 50%;
    padding: 20px;
}

#eye1{
    background-color: black;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    position: relative;
    left: 4px;
    top: 4px;
}
#eye2{
    background-color: black;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    position: relative;
    top: 4px;
}

#mouth{
    height: 10px;
    width: 30px;
    background-color: rgb(66, 0, 0);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
    left: 14px;
    bottom: 15px;
}