*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;

}

body{
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
}

#container{
    height: 500px;
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    align-content: center;
    justify-content:space-between ;
    border: 2px solid black;  
}

#container div{
    height: 100px;
    width: 100px;
    padding: 5px;
    color: white ;
    text-align: center;
    font-size: 1.5em;
}
