*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;

}

h1{
    text-align: center;
}

#container{
    display: flex;
    align-items:start;
    justify-content:space-between ;
    flex-wrap: wrap;
    height: 500px;
    /* width: 100%; */
    /* margin: 10px auto; */
    border: 2px solid black;  
}

#container div{
    height: 100px;
    width: 100px;
    padding: 5px;
    color: white ;
    text-align: center;
    font-size: 1.5em;
}
