*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2{
    color: orange;
}
span{
    color: rgb(118, 95, 51);
}

#pets{
    display: flex;
    justify-content: space-evenly;
}

.card{
    height: 500px;
    width: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 12px;
}
img{
    width: 100%;
    border-radius: 12px;
}

@media (max-width:375px) {
    #pets{
        flex-wrap: wrap;
    }
}